
*{
    font-family:  'BBTreeGR', serif;
}
.main-article{
  margin-bottom: 80px;
  width:inherit;
}

footer{
    background-color: #f2f2f2;
    text-align: center;
    width:100%;
    padding:25px;
      font-size:1.1em;
}
